<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

	<Appenders>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{YYYY-MM-dd HH-mm-ss} {%t} %level %logger::%M::%L %msg %n" />
		</Console>

		<File name="fileLogger"
			fileName="logs/automation.log"
			append="false">
			<PatternLayout
				pattern="%d{YYYY-MM-dd HH-mm-ss} {%t} %level %logger %msg %n" />
		</File>

	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="console" />
			<AppenderRef ref="fileLogger" />
		</Root>

	</Loggers>

</Configuration>